/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@keyframes page_title-Ani__By6Wb{
    0%{
        transform: translate(0,-0.5vh);
    }
    100%{
        transform: translate(0,1vh);
    }
}


.page_background__dpzbb{
position: relative;
height: 100vh;
width: 100vw;
}
.page_overlay__wdIaw{
    text-align: center;
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.page_title__po7na{
    animation-name: page_title-Ani__By6Wb;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-top: 2.5rem;
    margin-left: 3%;
    min-width: 90%;
    max-width: 95%;
    height: 10%;
}

.page_teamBox__wNDHB{
    position: relative;
    min-width: 90%;
    max-width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page_teamBoxItem__73clf{
    overflow-x: auto;
    z-index: 0;
    min-height: 78%;
    max-height: 78%;
    margin-bottom: 1.3rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page_textBox__qxzJV{
    font-size: 1.4rem;
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}




@media(min-width:500px){
    .page_textBox__qxzJV{
        font-size: 2.3rem;
        height: 12%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/teams.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.teams_teamItem__BDC5L{
    background-color: rgb(242, 242, 242);
    display: flex;
    width: 60vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.2rem;
    border: 5px solid rgb(166, 164, 164);
    margin-right: 0.5rem;
    border-radius: 0.4rem;
    min-height: 8vh;
    font-size:1.3rem;
}


@media(min-width:500px){
    .teams_teamItem__BDC5L{
        background-color: rgb(242, 242, 242);
        display: flex;
        width: 60vw;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1.5rem;
        border: 10px solid gray;
        margin-right: 0.5rem;
        border-radius: 0.2rem;
        min-height: 8vh;
        font-size:2.1rem;
    }
}

.teams_teamItem__BDC5L :active{
    background-color: bisque;
}
