
body{
  margin: 0;
  padding: 0;
  background-image: url("../public/Squid_background.svg");
  background-size: cover;
}

input{
  font-family: inherit;
  text-align: center;
  border: 0px;
}
button{
  font-family: inherit;
  text-align: center;
}