/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/modal.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.modal_modalBox__7mIkX{
    font-size: 17px;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 70vh;
    border:3px solid rgba(8, 8, 8, 0.725);
    border-radius: 3px;
}

.modal_descripBox__iPhy3{
    width: 65vw;
    max-height: 40vh;
    border: black solid;
    overflow-y: auto;
    overflow-x: auto;
}
.modal_closeBtn__MJu7I{
    margin-top: 1rem;
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    color : white;
    max-width: 17vw;
    min-width: 17vw;
    height: auto;
}
